section,p,div,img,h1,h2,h3,h4,h5,header,footer {
font-family:"Open Sans",  Helvetica, Arial, sans-serif;
font-weight: lighter;
}
header{
    background-color: #f0f0f0; 
	overflow: hidden;
	height:90px;
	width:100%;
	border-bottom: 1px solid #999;
	margin-bottom: 20px;

}


header h1{
	color: #777;
	font-size: 2em;
    text-align: center;
	vertical-align: center;
}

header h2{
	color: #777;
	font-size: 2em;
	text-align:left;
	vertical-align: center;
    }
header h3{
	color:#444;
	font-size:2em;
	text-align:left;

}


