table{
	
	border-collapse: collapse;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    background: #f0f0f0;
    font-weight: lighter;
    border: 1px solid #555;
}

table td, th{
	
	border: 1px solid #fff;
	height:40px;
	font-size: 20px;

}

table th{
	background-color: #ccc;
	color: white;
	height:70px;
}

table tr.even{
background-color: #ccc;

}

table td{
	text-align: center;
}

form {
	margin-top: 20px;
	margin: 0 auto;
	}