 <widget id="com.example.hello" version="2.0.0" xmlns='http://www.w3.org/ns/widgets'>
        <name>Cytoplasm</name>
        <description>
            Cytoplasm from UCL.
        </description>
        <author email="dev@callback.apache.org" href="http://phonegap.com">
            Apache Cordova Team
        </author>
        <content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="Orientation" value="landscape" />
</widget>